<div [@fade]="error" class="error">
  <span class="stroke" style="">{{'ERROR' | translate}}</span>
  <br/>
  <span class="stroke">{{'ERROR_TEXT' | translate}}</span>
</div>

<div [@fade]="info" class="info">
  <span>{{'INFO_1' | translate}}</span>
  <br/>
  <span>{{'INFO_2' | translate}}</span>
  <br/>
  <span>{{'INFO_3' | translate}}</span>
  <br/>
  <span>{{'INFO_4' | translate}}</span>
  <br/>
  <button style="margin: 0;font-size: 4vh;padding: 2vh;width: 30vh;height: 10vh;" class="btn btn-inverse" (click)="showInfo(false)">{{'GOT_IT' | translate}}</button>
</div>

<div>
  <input type="number" class="form-control" id="name" placeholder="{{'PLACEHOLDER' | translate}}" [(ngModel)]="inputNumber"
         [ngModelOptions]="{standalone: true}">

  <button [ngClass]="{'btn':true, 'btn-outline': !started, 'btn-warning-outline': started}"
          style="margin: 0 15px;" (click)="onClick($event)" [disabled]="lockDown">{{buttonText}}
  </button>
  <clr-icon shape="help" style="width: 30px;height: 30px;cursor: pointer" (click)="menu($event)"></clr-icon>
  <span class="stroke" style="font-size: 3vmax;float: right;">{{'BIGGEST' | translate}} {{streak}}</span>
</div>

<span class="center-align"
      [ngStyle]="{
                  'font-size': (300 + count * 10) + '%',
                  'color': ('rgb(255,' + (255 - count*2).toString() + ',' + (255 - count*2).toString()),
                  '-webkit-text-stroke': (1+count/20).toString() + 'px black'
                  }"
      [@shake]="shake" (@shake.done)="onEnd($event)">
  {{count}}
</span>


<div class="chain-number" [@pop]="trigger1">
  <span class="stroke">{{result}}</span>
</div>
<div class="chain-number" [@pop]="trigger2">
  <span class="stroke">{{result2}}</span>
</div>


<div [ngStyle]="{top: cursorPos.y+200 + 'px', left: cursorPos.x+32 +'px'}"
     style="position: fixed;width: 100px;transform-origin: top" [@expand]="popUp">
  <button style="margin: 0" class="btn btn-outline" (click)="showInfo()">How to play</button>
  <a [href]="link">
    <button style="margin: 2px 0" class="btn btn-outline">{{'WHAT_IS' | translate}}</button>
  </a>
  <a href="https://www.youtube.com/watch?v=5mFpVDpKX70">
    <button style="margin: 0" class="btn btn-outline">{{'VIDEO' | translate}} (Numberphile)</button>
  </a>
</div>

<app-language-picker
  [languages]="languages"
  (selected)="changeLang($event)">
</app-language-picker>

